body {
    margin: 0;
    font-family: Interop, sans-serif;
}

header {
    max-width: 1280px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin: auto;
}

header div {
    display: flex;
    gap: 32px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #585858;
    transition: 0.25s
}

a:hover {
    color: #0086A4;
    transition: 0.25s;
}

#HeaderLogo {
    font-size: 24px;
    font-weight: 600;
    color: black;
    transition: 0.25s
}

#HeaderLogo:hover {
    color: #0086A4;
    transition: 0.25s
}