body {
    margin: 0;
    font-family: Interop, sans-serif;
    letter-spacing: -0.02em;
}

.ContentArea {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

.Spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */

header {
    background-color: #f1f1f1;
    display: flex;
    height: 64px;
}

header div div {
    display: flex;
    gap: 32px;
}


/* Banner */

#Banner {
    background: linear-gradient(86.79deg, #205C4E 0%, #2A1341 100%);
}

#bigp {
    font-size: 56px;
    line-height: 125%;
    margin: 96px 0px 96px 0px;
    color: white;
}



b {
    font-weight: 600;
}




a {
    text-decoration: none;
    color: #585858;
    transition: 0.25s
}

a:hover {
    color: #0086A4;
    transition: 0.25s;
}

#HeaderLogo {
    font-size: 24px;
    font-weight: 600;
    color: black;
    transition: 0.25s
}

#HeaderLogo:hover {
    color: #0086A4;
    transition: 0.25s
}