body {
    margin: 0;
    font-family: Interop, sans-serif;
    font-weight: 300;
    letter-spacing: -0.02em;
}

.ContentArea {
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

.Spacebetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

b {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #585858;
    transition: 0.25s
}

a:hover {
    color: #0086A4;
    transition: 0.25s;
}

#HeaderLogo {
    font-size: 24px;
    font-weight: 600;
    color: black;
    transition: 0.25s
}

#HeaderLogo:hover {
    color: #0086A4;
    transition: 0.25s
}

h1 {
    font-size: 24px;
    font-weight: 600;
}



/* Header */

header {
    background-color: #f1f1f1;
    display: flex;
    height: 64px;
}

header div div {
    display: flex;
    gap: 32px;
}



/* Banner */

#Banner {
    background: linear-gradient(86.79deg, #205C4E 0%, #2A1341 100%);
}

#bigp {
    font-size: 56px;
    line-height: 125%;
    margin: 96px 0px 96px 0px;
    color: white;
}



/* Content List */

#ContentListArea {
    padding-top: 56px;
    padding-bottom: 96px;
}

#ContentListArea section div {
    padding: 0px 8px 0px 8px;
}



/* Footer */

footer {
    border-top: 1px solid #E1E1E1;
    padding-top: 32px;
    padding-bottom: 32px;
}

footer p {
    color: #585858;
    margin: 0px 0px 8px 0px;
}

#yea {
    font-size: 20px;
    margin-bottom: 24px;
}

#email {
    color: #0086A4;
}